[submodule "contracts/dependencies/pantheon-asset-management-platform"]
	path = contracts/dependencies/pantheon-asset-management-platform
	url = git@github.com:Mimir-Solutions/pantheon-asset-management-platform.git