[submodule "contracts/holyzeppelin"]
	path = contracts/holyzeppelin
	url = git@github.com:cyotee/holyzeppelin.git
[submodule "contracts/chains"]
	path = contracts/chains
	url = git@github.com:Mimir-Solutions/chains.git
[submodule "contracts/authorization-protocol."]
	path = contracts/authorization-protocol.
	url = git@github.com:cyotee/authorization-protocol.git
[submodule "contracts/quadratic-pricing-sales-protocol"]
	path = contracts/quadratic-pricing-sales-protocol
	url = git@github.com:cyotee/quadratic-pricing-sales-protocol.git
[submodule "contracts/authorization-protocol"]
	path = contracts/authorization-protocol
	url = git@github.com:Mimir-Solutions/authorization-protocol.git
[submodule "contracts/dependencies/mimir-solutions-sales-platform"]
	path = contracts/dependencies/mimir-solutions-sales-platform
	url = git@github.com:Mimir-Solutions/mimir-solutions-sales-platform.git
[submodule "contracts/dependencies/eris-token"]
	path = contracts/dependencies/eris-token
	url = git@github.com:Mimir-Solutions/eris-token.git
[submodule "contracts/dependencies/authorization-protocol"]
	path = contracts/dependencies/authorization-protocol
	url = git@github.com:Mimir-Solutions/authorization-protocol.git
[submodule "contracts/dependencies/kallisti-token"]
	path = contracts/dependencies/kallisti-token
	url = git@github.com:Mimir-Solutions/kallisti-token.git
[submodule "ui/mimir-solutions-site"]
	path = ui/mimir-solutions-site
	url = git@github.com:Mimir-Solutions/mimir-solutions-site.git
[submodule "contracts/dependencies/holyzeppelin"]
	path = contracts/dependencies/holyzeppelin
	url = git@github.com:Mimir-Solutions/holyzeppelin.git
